
body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-height: 100vh;
}

.changer .content{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0deg 0% 0% / 85%);
  border-radius: 5px;
  padding: 10px;
  transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.changer:hover .content{
  display: block;
  transition: display .5s ease-in;
}
.changer .content p, .changer .content svg{
  color: white;
  margin-inline: auto;
  text-align: center;
}

/* read editor style */
pre{
  overflow: auto hidden;
  border: 1px solid #E5E5E5;
  padding: 32px;
  background: #F9F9F9;
  border-radius: 5px;
}
.article-content p {
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
  line-height: 32px;
  letter-spacing: -0.003em;
}
.article-content h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.article-content h1{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.article-content h2{
  font-size: 1.5rem;
  line-height: 2rem;
}
.article-content h3{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.article-content h4{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.article-content h5{
  font-size: 1rem;
  line-height: 1.5rem;
}
.article-content h6{
  font-size: 1rem;
  line-height: 1.5rem;
}
.article-content  a{
  text-decoration: underline;
}

h1.ce-header{
  @apply text-3xl font-bold
}
h2.ce-header{
  @apply text-2xl font-semibold
}
h3.ce-header{
  @apply text-xl font-semibold
}
h4.ce-header{
  @apply text-lg font-semibold
}
h5.ce-header{
  @apply text-base font-semibold
}
h6.ce-header{
  @apply text-base font-semibold
}
